// Variables de colores y fuente
$color-fondo: #f0f0f0; 
$color-titulos: #222; 
$color-textos: #666; 
$color-amarillo: #e4c95e; 
$fuente-general: 'Poppins', sans-serif;

// Reset *
* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}
// Fuente general 
body { 
    background: orange; 
    font-family:'Poppins', sans-serif;
    color:  #222;
    line-height: 1.5;
}
// Encabezado con anidación
header { 
    background: yellow;
    text-align: center; 
    padding: 20px; 
}
    h1 {
        font-size: clamp(1.5rem, 4vw, 2.2rem); 
        margin-bottom: 10px; 
        color: black
    }
    h2 { 
        font-size: clamp(1rem, 2vw, 1.2rem); 
        font-weight: 400; 
        color: gray
    } 

